BasedOnStyle: Google
TabWidth: 4
IndentWidth: 4
Standard: Auto
ColumnLimit: 0
AccessModifierOffset: -4
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false
BreakBeforeBraces: Linux
KeepEmptyLinesAtTheStartOfBlocks: true
AllowShortBlocksOnASingleLine: true